:root {
  --main-text-cl: #000000;
  --main-light-cl: #FFFFFF;
  --bg-cl: #0F1D2D;
  --bg-cl-opacity: #0F1D2D66;
  --accent-cl: #FF662D;
  --secondary-accent-cl: #E1EFFF;
  --success-cl: #D0F0C0;
  --error-cl: #E32636;
}